body{
    background-color: #F5F5DC;
    color: #2E0000;
    font-family: Verdana, Arial, sans-serif;
    background-image: url(../Pictures/background.gif);
}

#wrapper {
    width: 80%;
    max-width: 2048px;
    min-width: 960px;
    margin-left: auto;
    margin-right: auto;
    background-color: #F5F5DC;
    box-shadow: 3px 3px 3px #2E0000;
}

nav{
    text-align: center;
    background-color: #E6D6A9;
    padding: 10px;
    font-weight: bold;
}

nav a{
    text-decoration: none;
}

h1, h2{
    font-family: 'Times New Roman', Georgia, serif;
}

h1{
    height: 100px;
    margin: 0px;
    background-image: url(../Pictures/javalogo.gif);
    background-repeat: no-repeat;
    background-position: center;
    text-indent: -9999px;
}

h3
{
	background-color: #E6D6A9;
	text-transform: uppercase;
}

dt{
    font-weight: bold;
}

ul{
    list-style-image: url(Pictures/background.gif);
}

header{
    background-color: #D2B48C;
}

footer 
{
	background-color: #D2B48C;
    color: 000000;
    font-size: .60em;
    font-style: italic;
    text-align: center;
    padding: 10px;
}

main{
    padding: 20px;
    display: block;
}

#hero{
    height: 300px;
    background-image: url(../Pictures/heroroad.jpg);
    color: #f5f5dc;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#news{
    margin-right: 20%;
    margin-left: 20%;
}

